<header class="header" role="banner">
  <div class="header__inner">
    <div class="header__left">
    {{ meta.title }} - {{ meta.description }}
    </div>
    <div class="header__right">
      {% include "navigation.njk" %}
    </div>
  </div>
</header>
