<div id="help-panel" class="help" role="complementary" aria-label="Keyboard shortcuts">
    <div class="help__main">
        <section class="help__section">
            <h2 class="help__section-title">Essential</h2>
            <ul class="shortcuts">
                <li class="shortcuts__item">
                    <span class="shortcuts__icon"></span>
                    <span class="shortcuts__description">Next page</span>
                    <span class="shortcuts__keys">
                        <span class="shortcuts__key">Arrow Right</span>
                    </span>
                </li>
                <li class="shortcuts__item">
                    <span class="shortcuts__icon"></span>
                    <span class="shortcuts__description">Previous page</span>
                    <span class="shortcuts__keys">
                        <span class="shortcuts__key">Arrow Left</span>
                    </span>
                </li>
                <li class="shortcuts__item">
                    <span class="shortcuts__icon"></span>
                    <span class="shortcuts__description">Toggle menu</span>
                    <span class="shortcuts__keys">
                        <span class="shortcuts__key">M</span>
                    </span>
                </li>
                <li class="shortcuts__item">
                    <span class="shortcuts__icon"></span>
                    <span class="shortcuts__description">Toggle help</span>
                    <span class="shortcuts__keys">
                        <span class="shortcuts__key">Shift</span>
                        <span class="shortcuts__key">?</span>
                    </span>
                </li>
                <li class="shortcuts__item">
                    <span class="shortcuts__icon"></span>
                    <span class="shortcuts__description">Close panels</span>
                    <span class="shortcuts__keys">
                        <span class="shortcuts__key">Escape</span>
                    </span>
                </li>
            </ul>
        </section>
        <section class="help-section">
        <h2 class="help__section-title">Links</h2>
        <ul class="shortcuts">
            <li class="shortcuts__item">
                <span class="shortcuts__icon"></span>
                <span class="shortcuts__description">Home</span>
                <span class="shortcuts__keys">
                    <span class="shortcuts__key">H</span>
                </span>
            </li>
        </ul>
    </section>
    </div>

    <button id="help-panel-close" class="help__close" tabindex="-1" aria-label="close-help">
        <svg class="help__close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"/></svg>
    </button>
</div>
